<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.users.comment.CommentDao">
    <!--查询商品所有评论-->
    <select id="getCommentAll" resultType="com.entity.user.Comment">
        select A.commentid, A.userid, A.commid, A.commtext, A.commdate, B.username, B.userimg from comment A, userinfo B where commid = #{commid} and A.userid = B.userid order by commentid desc
    </select>
    <!--添加评论-->
    <insert id="insertComment">
        insert into comment(userid, commid, commtext, commdate) values (#{userid},#{commid},#{commtext},#{commdate})
    </insert>
    <!--删除评论-->
    <delete id="deleteComment">
        delete from comment where commid = #{commid}
    </delete>

</mapper>