<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.admins.announcement.AnnouncementDao">
    <!--查询所有公告-->
    <select id="getAnnouncementAll" resultType="com.entity.user.Announcement">
        select onticeid, onticetext, onticeimg, onticedate from announcement order by onticeid desc
    </select>

    <!--发布公告-->
    <insert id="insertAnnouncement">
        insert into announcement(onticetext, onticeimg, onticedate) values (#{onticetext},#{onticeimg},#{onticedate})
    </insert>

    <!--删除公告-->
    <delete id="deleteAnnouncement">
        delete from announcement where onticeid = #{onticeid}
    </delete>

    <!--修改公告-->
    <update id="updateAnnouncement">
        update announcement set onticetext = #{onticetext} ,onticeimg = #{onticeimg} ,onticedate = #{onticedate} where onticeid = #{onticeid}
    </update>

</mapper>


