<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.admins.announcement.AnnouncementDao">
    <!--查询所有公告-->
    <select id="getAnnouncementAll" resultType="com.entity.user.Announcement">
        select onticeid, onticetext, onticeimg, onticedate from announcement order by onticeid desc
    </select>

</mapper>


